body {
  color: #e5e5cb;
  background: #3c2a21;
  /* background: linear-gradient(45deg, black, lightgray); */
  /* 1A120B - brown
    3C2A21 - lightbrown
    D5CEA3 - vanilla
    E5E5CB -light vanilla
    */
}

* {
  margin: 0;
  padding: 0;
}
