/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} */

/* css init */
/* css init */
/* css init */
/* css init */
/* html {
  scroll-behavior: smooth; // 적용 시 requestAnimationFrame 안됨
  transition: 1s;
} */
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: maplestory;
  src: url("./fonts/Maplestory\ Light.ttf");
}
@font-face {
  font-family: maplestoryBold;
  src: url("./fonts/Maplestory\ Bold.ttf");
}
body {
  /* background-color: #dbf1fd; */
  /* background-color: #c3e8fd; */
  /* 임시 배경색 */
  overflow-x: hidden;
  font-family: "Jua", sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(201, 201, 201);
  border-radius: 100px;
}
body::-webkit-scrollbar-thumb {
  height: 10vh;
  background: gold;
  border-radius: 100px;
}

/* easterEgg swal */
/* easterEgg swal */
div.swal2-popup {
  background-color: rgb(255, 245, 189);
  color: black;
}
input.swal2-input {
  width: 250px;
  height: 40px;
  background-color: white;
  transition: 0.1s;
}
input.swal2-input:focus {
  border: 1px solid gold;
  box-shadow: 0 0 0 2px gold;
}
textarea.swal2-input {
  width: 250px;
  height: 144px;
  padding: 5px;
  background-color: white;
  resize: none;
}
textarea.swal2-input:focus {
  border: 1px solid gold;
  box-shadow: 0 0 0 2px gold;
}
textarea.swal2-input::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(201, 201, 201);
  border-radius: 100px;
}
textarea.swal2-input::-webkit-scrollbar-thumb {
  height: 10vh;
  background: gold;
  border-radius: 100px;
}
