/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} */

/* css init */
/* css init */
/* css init */
/* css init */

body {
  /* color: #1A120B; */
  /* color: #3c2a21; */
  /* color: #D5CEA3; */
  /* color: #E5E5CB; */
  /* background: #262a35; */
  /* background: #1a120b; */
  /* background: #3c2a21; */
  /* background: #ebe3b4; */
  /* background: #E5E5CB; */
  /* background: linear-gradient(45deg, black, lightgray); */
  /* 1A120B - brown
    3C2A21 - lightbrown
    D5CEA3 - vanilla
    E5E5CB -light vanilla
    ebe3b4 - better light vanilla
    3c2a213b - hr or lean border line
    */

  /* test */

  /* color: blanchedalmond; */
  /* color: rgb(255, 249, 193); */
  /* background-color: rgb(27, 27, 27); */
  background-color: #dbdffd;
  /* borderbottom color */
  /* border-bottom: 1px solid #3a3a3a; */
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 2px;
  background-color: #aaa;
}
body::-webkit-scrollbar-thumb {
  height: 10vh;
  background: rgb(100, 100, 100);
}

/* markdown */
/* markdown */
/* markdown */
/* markdown */
/* markdown */
